* {
    padding: 0;
    margin: 0;
}

::selection {
    background: #fffb6e;
    color:#333;
}
::-ms-selection {
    background: #ffec18;
    color: #333;
}
::-moz-selection {
    background: #ffec18;
    color: #333;
}
::-webkit-selection {
    background: #ffec18;
    color: #333;
}

header {
    position: relative;
    /* background: #000; */
    color: white;
}

header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/shared/header_bg.png');
}

.logo__text {
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.header__label {
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 122.4%;
    letter-spacing: 0.1em;
    width: 436px;
    margin-bottom: 50px;
}

.header__info {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    width: 865px;
    margin-bottom: 134px;
}

.btn__dark__gray {
    display: block;
    position: relative;
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center;
    color: white !important;
    background: #2A3940 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 100px !important;
    padding: 33px 125px !important;
}


.btn__dark__gray:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
}

.btn__dark__gray:active {
    color: transparent;
}

.btn__dark__gray:active:after {
    background: transparent;
}

.btn__dark__gray:hover:before {
    opacity: 1;
}

.btn__dark__gray:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 100px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.nav__bar {
    margin-bottom: 57px;
}

.nav__item i {
    margin-right: 12px;
}

.nav__item:hover a{
    color: #61B3C0;
}

.nav__item a {
    color: white;
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 37px;
    letter-spacing: 0.03em;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.03em;
}

.services__label {
    text-align: center;
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 69px 0px;
}

.service__card {
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.03em;
}

.info {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 122.4%;
    letter-spacing: 0.02em;
}

.info__label {
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 122.4%;
    letter-spacing: 0.02em;
    margin-bottom: 44px;
}

.contact {
    text-decoration: none;
    color:black;
}

.contact:hover {
    color: #61B3C0;
}